body {
  background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/rWTERSESipmu22cf/server-room-led-lights-are-flashing-technology-background_blegolfd-x_thumbnail-full01.png);
  font-family: 'PT Sans', sans-serif;
}
main {
  margin:auto;
  padding-top:50px;
  padding-bottom: 50px;
}
header {
margin:auto;
padding-top: 50px;
padding-left: 80px;
}
.jumbotron {
  background-color: white;
  border: 3px solid black
}
#main-text {
  color: white;
  text-shadow: 2px 2px 50px #000000;
  padding-top: 50px;
}
#navbar {
  margin:auto;
  font-size: 24px;
  background-color: rgba(53, 53, 53, 0.9);
  border: 3px solid black;

}
#navbar li {
  padding-left: 80px;
  padding-right: 80px;
  color: white
}
#profpic{
  border: 5px solid black;
}
